*{
    margin: 0px;
    padding: 0px;
}
/*修复渲染bug*/
[v-cloak] {
    display: none;
}
/*打印*/
@media print{
    .no-print{
        display: none;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .border-none{
        border: 0px !important;
    }
}
@page{

}
/*覆盖原muse-ui*/
.mu-radio-ripple-wrapper {
    left: -16px;
}
.mu-th{
    color: black;
}
.mu-th, .mu-td {
    font-size: 16px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}
.mu-tab-text{
    font-size: 18px;
}

.map{
    width: 100%;
    height: 100%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.popup-top
{
    min-width: 30%;
    max-width: 80%;
    min-height: 48px;
    padding: 0 10px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items-class{
    width: 256px;
    height: 100%;
    position: fixed;
    left: -256px;
    background-color: aliceblue;
    box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
}
.items-class-open{
    -webkit-animation: items-open .5s linear 0s 1 alternate;
    -moz-animation: items-open .5s linear 0s 1 alternate;
    animation: items-open .5s linear 0s 1 alternate;
    left: 0px;
}
.items-class-close{
    -webkit-animation: items-close .5s linear 0s 1 alternate;
    -moz-animation: items-close .5s linear 0s 1 alternate;
    animation: items-close .5s linear 0s 1 alternate;
    left: -256px;
}
.items-active{
    background-color: rgba(0, 0, 200, 0.05);
}
.item-active{
    background-color: rgba(0, 0, 200, 0.1);
}
.barcontain{
    position: relative;
    height: 200px;
    width:100px;
    margin: auto;
}
 .mapbarchild{
    width: 40px;
    position: absolute;
    bottom: 0;
}

.mapbar{
    width: 150px;
    height: 80px;
}
.barparent{
    position: relative;
    height: 70%;
    width:100%;
    margin: auto;
 //background: bisque;
}
.barchild{
    width: auto;
    height: 50px;
    margin: auto;
//	background: gold;
}
.barchild3{
    width: 10px;
    height: 30px;
    float: left;
    position: relative;
}
.barchild4{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
	//background: blue;
}
.show-name{
    margin: auto;
    width: 100%;
    text-align: center;
    color: white;
    display: block;
}
.showmap-number{
    display: block;
}


/*.showmap-name{
    display: block;
}*/
@-webkit-keyframes items-open {
    0% { left: -256px; }
    25% { left: -192px; }
    50% { left: -128px; }
    75% { left: -64px; }
    100% { left: 0px; }
}
@-moz-keyframes items-open {
    0% { left: -256px; }
    25% { left: -192px; }
    50% { left: -128px; }
    75% { left: -64px; }
    100% { left: 0px; }
}
@keyframes items-open {
    0% { left: -256px; }
    25% { left: -192px; }
    50% { left: -128px; }
    75% { left: -64px; }
    100% { left: 0px; }
}
@-webkit-keyframes items-close {
    0% { left: 0px; }
    25% { left: -64px; }
    50% { left: -128px; }
    75% { left: -192px; }
    100% { left: -256px; }
}
@-moz-keyframes items-close {
    0% { left: 0px; }
    25% { left: -64px; }
    50% { left: -128px; }
    75% { left: -192px; }
    100% { left: -256px; }
}
@keyframes items-close {
    0% { left: 0px; }
    25% { left: -64px; }
    50% { left: -128px; }
    75% { left: -192px; }
    100% { left: -256px; }
}
.list-class{
    font-weight: 400;
}
.content-class{

}
.header-class-open{
    -webkit-animation: header-open .5s linear 0s 1 alternate;
    -moz-animation: header-open .5s linear 0s 1 alternate;
    animation: header-open .5s linear 0s 1 alternate;
    margin-left: 256px;
}
.header-class-close{
    -webkit-animation: header-close .5s linear 0s 1 alternate;
    -moz-animation: header-close .5s linear 0s 1 alternate;
    animation: header-close .5s linear 0s 1 alternate;
    margin-left: 0px;
}
@-webkit-keyframes header-open {
    0% { margin-left: 0px; }
    25% { margin-left: 64px; }
    50% { margin-left: 128px; }
    75% { margin-left: 192px; }
    100% { margin-left: 256px; }
}
@-moz-keyframes header-open {
    0% { margin-left: 0px; }
    25% { margin-left: 64px; }
    50% { margin-left: 128px; }
    75% { margin-left: 192px; }
    100% { margin-left: 256px; }
}
@keyframes header-open {
    0% { margin-left: 0px; }
    25% { margin-left: 64px; }
    50% { margin-left: 128px; }
    75% { margin-left: 192px; }
    100% { margin-left: 256px; }
}
@-webkit-keyframes header-close {
    0% { margin-left: 256px; }
    25% { margin-left: 192px; }
    50% { margin-left: 128px; }
    75% { margin-left: 64px; }
    100% { margin-left: 0px; }
}
@-moz-keyframes header-close {
    0% { margin-left: 256px; }
    25% { margin-left: 192px; }
    50% { margin-left: 128px; }
    75% { margin-left: 64px; }
    100% { margin-left: 0px; }
}
@keyframes header-close {
    0% { margin-left: 256px; }
    25% { margin-left: 192px; }
    50% { margin-left: 128px; }
    75% { margin-left: 64px; }
    100% { margin-left: 0px; }
}
.main-header{
    position: fixed;
    left: 0px;
    right: 0;
    top: 0;
    width: auto;
}
.main-body{
}
.label-class{
    color: black;
    font-size: 18px;
}
.drop-down-icon-class{
    background-color: gainsboro;
    color: aliceblue;
}
.underline-class{
    background-color: olivedrab;
}
.end-time-line{
    width: 205px;
}
.icon-class{
    width: 16px;
}
.dialog{
    max-width: 512px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.dialog-title{
    background-color: #2196f3;
    color: white;
    padding: 15px 24px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.dialog-body{
    margin-top: 15px;
    padding: 15px 24px;
}
.statistics{
    padding-top: 30px;
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
}
.body-left{
    width: 288px;
    padding: 15px;
    margin: 10px 0px 0px 20px;
    border: 1px solid lightblue;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.single-body-left{
    margin: 6px 0px 0px 20px;
}
.time-body-left{
    margin: 6px 0px 0px 20px;
}
.single-select-left{
    width: 288px;
    padding: 25px 15px 15px 15px;
    border: 1px solid darkseagreen;
    background-color: aliceblue;
}
.single-open-btn{
    width: 38px;
    height: 38px;
    padding: 7px;
    background: cadetblue;
}
.single-close-btn{
    position: absolute;
    top: 6px;
    right: 15px;
    z-index: 20;
    width: 38px;
    height: 38px;
    padding: 7px;
    background: lightblue;
}
.right-btn{
    float: right;
    background-color: lavender;
    width: 38px;
    height: 38px;
    padding: 7px;
}
.detail-one-btn{
    width: 205px;
}
.detail-two-btn{
    width: 154px;
}
.work-checkbox{
    float: right;
    position: relative;
    top: 5px;
}
.body-left-float{
    position: absolute;
    left: 256px;
    top: 64px;
    z-index: 20;
    background-color: aliceblue;
}
.left-float-open{
    -webkit-animation: left-float-open .5s linear 0s 1 alternate;
    -moz-animation: left-float-open .5s linear 0s 1 alternate;
    animation: left-float-open .5s linear 0s 1 alternate;
    left: 256px;
}
.left-float-close{
    -webkit-animation: left-float-close .5s linear 0s 1 alternate;
    -moz-animation: left-float-close .5s linear 0s 1 alternate;
    animation: left-float-close .5s linear 0s 1 alternate;
    left: 0px;
}
@-webkit-keyframes left-float-open {
    0% { left: 0px; }
    25% { left: 64px; }
    50% { left: 128px; }
    75% { left: 192px; }
    100% { left: 256px; }
}
@-moz-keyframes left-float-open {
    0% { left: 0px; }
    25% { left: 64px; }
    50% { left: 128px; }
    75% { left: 192px; }
    100% { left: 256px; }
}
@keyframes left-float-open {
    0% { left: 0px; }
    25% { left: 64px; }
    50% { left: 128px; }
    75% { left: 192px; }
    100% { left: 256px; }
}
@-webkit-keyframes left-float-close {
    0% { left: 256px; }
    25% { left: 192px; }
    50% { left: 128px; }
    75% { left: 64px; }
    100% { left: 0px; }
}
@-moz-keyframes left-float-close {
    0% { left: 256px; }
    25% { left: 192px; }
    50% { left: 128px; }
    75% { left: 64px; }
    100% { left: 0px; }
}
@keyframes left-float-close {
    0% { left: 256px; }
    25% { left: 192px; }
    50% { left: 128px; }
    75% { left: 64px; }
    100% { left: 0px; }
}

.single-body-left-float{
    position: absolute;
    top: 118px;
    z-index: 20;
}
.time-body-left-float{
    position: absolute;
    top: 70px;
    z-index: 20;
}

.succeed-text{
    color: limegreen;
}
.failure-text{
    color: red;
}
.body-right{
    position: relative;
    left: 0px;
    top: 0px;
    background-color: aliceblue;
    margin: 5px 15px;
    border: 1px solid lightblue;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.single-tabs-fixed{
    position: fixed;
    margin-left: 15px;
    background-color: whitesmoke;
    z-index: 20;
}
.single-tabs-div{
    width: 100%;
    margin-top: 6px;
    background-color: lightsteelblue;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
.single-tabs{
    background-color: lightsteelblue;
    width: 512px;
    border-right: 1px solid gainsboro;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
.single-tabs-line{
    background-color: darkblue;
}
.single-tab-title{
    color: black;
}
.single-tab-title-active{
    color: white;
}
.left-split-line{
    border-left: 1px solid gainsboro;
}
.single-tab-active{
    background-color: #2196f3;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
.single-content{
    padding: 6px 10px 6px 10px;
    background-color: lightblue;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}
.title-class{
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
    line-height: 50px;
    font-size: 26px;
    font-weight: 400;
}
.table-class{
    width: 100%;
    padding: 2px;
    border: 1px solid lightblue;
}
.chart-type-class{
    padding-top: 20px;
}
#timePrintId{
    margin: 20px 12px 20px 12px;
}
.time-chart-class{
    width: 100%;
    padding: 3px;
    border: 1px solid lightblue;
    background-color: ghostwhite;
    margin: 0 auto;
}
.chart-class{
    width: 100%;
    height: 600px;
    padding: 3px;
    border: 1px solid lightblue;
    margin: 0 auto;
}

/*!*char*!*/
/*.highcharts-title tspan{*/
    /*font-size: 20px;*/
/*}*/
/*.highcharts-axis tspan{*/
    /*font-size: 18px;*/
    /*font-weight: 400;*/
/*}*/
/*.highcharts-label tspan{*/
    /*font-size: 16px;*/
/*}*/
/*.highcharts-grid-line{*/
    /*!*stroke: rgb(200, 200, 200);*!*/
/*}*/
/*.highcharts-axis-labels text{*/
    /*font-size: 18px !important;*/
    /*color: black !important;*/
    /*font-weight: 400 !important;*/
/*}*/
/*.highcharts-legend rect{*/
    /*display: none;*/
/*}*/
/*.highcharts-legend tspan{*/
    /*font-size: 16px;*/
/*}*/