/*打印分页*/
@media print{
    .page-next {
        page-break-before: always;
    }
}
/*覆盖原muse-ui*/
.mu-th{
    color: black;
}
.mu-th, .mu-td {
    font-size: 18px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

#printDiv{
    text-align: -webkit-center;
    margin: 0 auto;
}

hr{
    height: 2px;
    background-color: black;
}
.chart-type-class{
    padding: 10px 0px;
}
.title-class{
    width: 100%;
    height: 40px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
    font-weight: 400;
}
.table-class{
    border: 1px solid lightgrey;
}
.chart-class{
    border: 1px solid lightgray;
}