<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swjtu.roadCheck.mapper.AccidentdataMapper">
  <resultMap id="BaseResultMap" type="com.swjtu.roadCheck.entity.Accidentdata">
    <id column="_id" jdbcType="INTEGER" property="id" />
    <result column="lat" jdbcType="DOUBLE" property="lat" />
    <result column="lng" jdbcType="DOUBLE" property="lng" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.swjtu.roadCheck.entity.Accidentdata">
    <result column="accidencnumber" jdbcType="LONGVARCHAR" property="accidencnumber" />
    <result column="riQI" jdbcType="LONGVARCHAR" property="riqi" />
    <result column="city" jdbcType="LONGVARCHAR" property="city" />
    <result column="xianQu" jdbcType="LONGVARCHAR" property="xianqu" />
    <result column="shangQuan" jdbcType="LONGVARCHAR" property="shangquan" />
    <result column="diMingBeiZhu" jdbcType="LONGVARCHAR" property="dimingbeizhu" />
    <result column="shigu" jdbcType="LONGVARCHAR" property="shigu" />
    <result column="shiguType" jdbcType="LONGVARCHAR" property="shigutype" />
    <result column="shigu2" jdbcType="LONGVARCHAR" property="shigu2" />
    <result column="shiguType2" jdbcType="LONGVARCHAR" property="shigutype2" />
    <result column="yanZhongCd" jdbcType="LONGVARCHAR" property="yanzhongcd" />
    <result column="carnum" jdbcType="LONGVARCHAR" property="carnum" />
    <result column="driverNums" jdbcType="LONGVARCHAR" property="drivernums" />
    <result column="feidriverNums" jdbcType="LONGVARCHAR" property="feidrivernums" />
    <result column="ssNums" jdbcType="LONGVARCHAR" property="ssnums" />
    <result column="dieNums" jdbcType="LONGVARCHAR" property="dienums" />
    <result column="gongjiao" jdbcType="LONGVARCHAR" property="gongjiao" />
    <result column="taoYi" jdbcType="LONGVARCHAR" property="taoyi" />
    <result column="Weixianche" jdbcType="LONGVARCHAR" property="weixianche" />
    <result column="Weixianbz" jdbcType="LONGVARCHAR" property="weixianbz" />
    <result column="fromWeixianbz" jdbcType="LONGVARCHAR" property="fromweixianbz" />
    <result column="youHaiWuZhi" jdbcType="LONGVARCHAR" property="youhaiwuzhi" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    _id, lat, lng
  </sql>
  <sql id="Blob_Column_List">
    accidencnumber, riQI, city, xianQu, shangQuan, diMingBeiZhu, shigu, shiguType, shigu2, 
    shiguType2, yanZhongCd, carnum, driverNums, feidriverNums, ssNums, dieNums, gongjiao, 
    taoYi, Weixianche, Weixianbz, fromWeixianbz, youHaiWuZhi
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.swjtu.roadCheck.entity.AccidentdataExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from accidentdata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.swjtu.roadCheck.entity.AccidentdataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from accidentdata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from accidentdata
    where _id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from accidentdata
    where _id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.swjtu.roadCheck.entity.AccidentdataExample">
    delete from accidentdata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.swjtu.roadCheck.entity.Accidentdata">
    insert into accidentdata (_id, lat, lng, accidencnumber, 
      riQI, city, xianQu, 
      shangQuan, diMingBeiZhu, shigu, 
      shiguType, shigu2, shiguType2, 
      yanZhongCd, carnum, driverNums, 
      feidriverNums, ssNums, dieNums, 
      gongjiao, taoYi, Weixianche, 
      Weixianbz, fromWeixianbz, youHaiWuZhi
      )
    values (#{id,jdbcType=INTEGER}, #{lat,jdbcType=DOUBLE}, #{lng,jdbcType=DOUBLE}, #{accidencnumber,jdbcType=LONGVARCHAR}, 
      #{riqi,jdbcType=LONGVARCHAR}, #{city,jdbcType=LONGVARCHAR}, #{xianqu,jdbcType=LONGVARCHAR}, 
      #{shangquan,jdbcType=LONGVARCHAR}, #{dimingbeizhu,jdbcType=LONGVARCHAR}, #{shigu,jdbcType=LONGVARCHAR}, 
      #{shigutype,jdbcType=LONGVARCHAR}, #{shigu2,jdbcType=LONGVARCHAR}, #{shigutype2,jdbcType=LONGVARCHAR}, 
      #{yanzhongcd,jdbcType=LONGVARCHAR}, #{carnum,jdbcType=LONGVARCHAR}, #{drivernums,jdbcType=LONGVARCHAR}, 
      #{feidrivernums,jdbcType=LONGVARCHAR}, #{ssnums,jdbcType=LONGVARCHAR}, #{dienums,jdbcType=LONGVARCHAR}, 
      #{gongjiao,jdbcType=LONGVARCHAR}, #{taoyi,jdbcType=LONGVARCHAR}, #{weixianche,jdbcType=LONGVARCHAR}, 
      #{weixianbz,jdbcType=LONGVARCHAR}, #{fromweixianbz,jdbcType=LONGVARCHAR}, #{youhaiwuzhi,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.swjtu.roadCheck.entity.Accidentdata">
    insert into accidentdata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        _id,
      </if>
      <if test="lat != null">
        lat,
      </if>
      <if test="lng != null">
        lng,
      </if>
      <if test="accidencnumber != null">
        accidencnumber,
      </if>
      <if test="riqi != null">
        riQI,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="xianqu != null">
        xianQu,
      </if>
      <if test="shangquan != null">
        shangQuan,
      </if>
      <if test="dimingbeizhu != null">
        diMingBeiZhu,
      </if>
      <if test="shigu != null">
        shigu,
      </if>
      <if test="shigutype != null">
        shiguType,
      </if>
      <if test="shigu2 != null">
        shigu2,
      </if>
      <if test="shigutype2 != null">
        shiguType2,
      </if>
      <if test="yanzhongcd != null">
        yanZhongCd,
      </if>
      <if test="carnum != null">
        carnum,
      </if>
      <if test="drivernums != null">
        driverNums,
      </if>
      <if test="feidrivernums != null">
        feidriverNums,
      </if>
      <if test="ssnums != null">
        ssNums,
      </if>
      <if test="dienums != null">
        dieNums,
      </if>
      <if test="gongjiao != null">
        gongjiao,
      </if>
      <if test="taoyi != null">
        taoYi,
      </if>
      <if test="weixianche != null">
        Weixianche,
      </if>
      <if test="weixianbz != null">
        Weixianbz,
      </if>
      <if test="fromweixianbz != null">
        fromWeixianbz,
      </if>
      <if test="youhaiwuzhi != null">
        youHaiWuZhi,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=DOUBLE},
      </if>
      <if test="lng != null">
        #{lng,jdbcType=DOUBLE},
      </if>
      <if test="accidencnumber != null">
        #{accidencnumber,jdbcType=LONGVARCHAR},
      </if>
      <if test="riqi != null">
        #{riqi,jdbcType=LONGVARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=LONGVARCHAR},
      </if>
      <if test="xianqu != null">
        #{xianqu,jdbcType=LONGVARCHAR},
      </if>
      <if test="shangquan != null">
        #{shangquan,jdbcType=LONGVARCHAR},
      </if>
      <if test="dimingbeizhu != null">
        #{dimingbeizhu,jdbcType=LONGVARCHAR},
      </if>
      <if test="shigu != null">
        #{shigu,jdbcType=LONGVARCHAR},
      </if>
      <if test="shigutype != null">
        #{shigutype,jdbcType=LONGVARCHAR},
      </if>
      <if test="shigu2 != null">
        #{shigu2,jdbcType=LONGVARCHAR},
      </if>
      <if test="shigutype2 != null">
        #{shigutype2,jdbcType=LONGVARCHAR},
      </if>
      <if test="yanzhongcd != null">
        #{yanzhongcd,jdbcType=LONGVARCHAR},
      </if>
      <if test="carnum != null">
        #{carnum,jdbcType=LONGVARCHAR},
      </if>
      <if test="drivernums != null">
        #{drivernums,jdbcType=LONGVARCHAR},
      </if>
      <if test="feidrivernums != null">
        #{feidrivernums,jdbcType=LONGVARCHAR},
      </if>
      <if test="ssnums != null">
        #{ssnums,jdbcType=LONGVARCHAR},
      </if>
      <if test="dienums != null">
        #{dienums,jdbcType=LONGVARCHAR},
      </if>
      <if test="gongjiao != null">
        #{gongjiao,jdbcType=LONGVARCHAR},
      </if>
      <if test="taoyi != null">
        #{taoyi,jdbcType=LONGVARCHAR},
      </if>
      <if test="weixianche != null">
        #{weixianche,jdbcType=LONGVARCHAR},
      </if>
      <if test="weixianbz != null">
        #{weixianbz,jdbcType=LONGVARCHAR},
      </if>
      <if test="fromweixianbz != null">
        #{fromweixianbz,jdbcType=LONGVARCHAR},
      </if>
      <if test="youhaiwuzhi != null">
        #{youhaiwuzhi,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.swjtu.roadCheck.entity.AccidentdataExample" resultType="java.lang.Integer">
    select count(*) from accidentdata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update accidentdata
    <set>
      <if test="record.id != null">
        _id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lat != null">
        lat = #{record.lat,jdbcType=DOUBLE},
      </if>
      <if test="record.lng != null">
        lng = #{record.lng,jdbcType=DOUBLE},
      </if>
      <if test="record.accidencnumber != null">
        accidencnumber = #{record.accidencnumber,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.riqi != null">
        riQI = #{record.riqi,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.xianqu != null">
        xianQu = #{record.xianqu,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.shangquan != null">
        shangQuan = #{record.shangquan,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.dimingbeizhu != null">
        diMingBeiZhu = #{record.dimingbeizhu,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.shigu != null">
        shigu = #{record.shigu,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.shigutype != null">
        shiguType = #{record.shigutype,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.shigu2 != null">
        shigu2 = #{record.shigu2,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.shigutype2 != null">
        shiguType2 = #{record.shigutype2,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.yanzhongcd != null">
        yanZhongCd = #{record.yanzhongcd,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.carnum != null">
        carnum = #{record.carnum,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.drivernums != null">
        driverNums = #{record.drivernums,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.feidrivernums != null">
        feidriverNums = #{record.feidrivernums,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ssnums != null">
        ssNums = #{record.ssnums,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.dienums != null">
        dieNums = #{record.dienums,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.gongjiao != null">
        gongjiao = #{record.gongjiao,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.taoyi != null">
        taoYi = #{record.taoyi,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.weixianche != null">
        Weixianche = #{record.weixianche,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.weixianbz != null">
        Weixianbz = #{record.weixianbz,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.fromweixianbz != null">
        fromWeixianbz = #{record.fromweixianbz,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.youhaiwuzhi != null">
        youHaiWuZhi = #{record.youhaiwuzhi,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update accidentdata
    set _id = #{record.id,jdbcType=INTEGER},
      lat = #{record.lat,jdbcType=DOUBLE},
      lng = #{record.lng,jdbcType=DOUBLE},
      accidencnumber = #{record.accidencnumber,jdbcType=LONGVARCHAR},
      riQI = #{record.riqi,jdbcType=LONGVARCHAR},
      city = #{record.city,jdbcType=LONGVARCHAR},
      xianQu = #{record.xianqu,jdbcType=LONGVARCHAR},
      shangQuan = #{record.shangquan,jdbcType=LONGVARCHAR},
      diMingBeiZhu = #{record.dimingbeizhu,jdbcType=LONGVARCHAR},
      shigu = #{record.shigu,jdbcType=LONGVARCHAR},
      shiguType = #{record.shigutype,jdbcType=LONGVARCHAR},
      shigu2 = #{record.shigu2,jdbcType=LONGVARCHAR},
      shiguType2 = #{record.shigutype2,jdbcType=LONGVARCHAR},
      yanZhongCd = #{record.yanzhongcd,jdbcType=LONGVARCHAR},
      carnum = #{record.carnum,jdbcType=LONGVARCHAR},
      driverNums = #{record.drivernums,jdbcType=LONGVARCHAR},
      feidriverNums = #{record.feidrivernums,jdbcType=LONGVARCHAR},
      ssNums = #{record.ssnums,jdbcType=LONGVARCHAR},
      dieNums = #{record.dienums,jdbcType=LONGVARCHAR},
      gongjiao = #{record.gongjiao,jdbcType=LONGVARCHAR},
      taoYi = #{record.taoyi,jdbcType=LONGVARCHAR},
      Weixianche = #{record.weixianche,jdbcType=LONGVARCHAR},
      Weixianbz = #{record.weixianbz,jdbcType=LONGVARCHAR},
      fromWeixianbz = #{record.fromweixianbz,jdbcType=LONGVARCHAR},
      youHaiWuZhi = #{record.youhaiwuzhi,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update accidentdata
    set _id = #{record.id,jdbcType=INTEGER},
      lat = #{record.lat,jdbcType=DOUBLE},
      lng = #{record.lng,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.swjtu.roadCheck.entity.Accidentdata">
    update accidentdata
    <set>
      <if test="lat != null">
        lat = #{lat,jdbcType=DOUBLE},
      </if>
      <if test="lng != null">
        lng = #{lng,jdbcType=DOUBLE},
      </if>
      <if test="accidencnumber != null">
        accidencnumber = #{accidencnumber,jdbcType=LONGVARCHAR},
      </if>
      <if test="riqi != null">
        riQI = #{riqi,jdbcType=LONGVARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=LONGVARCHAR},
      </if>
      <if test="xianqu != null">
        xianQu = #{xianqu,jdbcType=LONGVARCHAR},
      </if>
      <if test="shangquan != null">
        shangQuan = #{shangquan,jdbcType=LONGVARCHAR},
      </if>
      <if test="dimingbeizhu != null">
        diMingBeiZhu = #{dimingbeizhu,jdbcType=LONGVARCHAR},
      </if>
      <if test="shigu != null">
        shigu = #{shigu,jdbcType=LONGVARCHAR},
      </if>
      <if test="shigutype != null">
        shiguType = #{shigutype,jdbcType=LONGVARCHAR},
      </if>
      <if test="shigu2 != null">
        shigu2 = #{shigu2,jdbcType=LONGVARCHAR},
      </if>
      <if test="shigutype2 != null">
        shiguType2 = #{shigutype2,jdbcType=LONGVARCHAR},
      </if>
      <if test="yanzhongcd != null">
        yanZhongCd = #{yanzhongcd,jdbcType=LONGVARCHAR},
      </if>
      <if test="carnum != null">
        carnum = #{carnum,jdbcType=LONGVARCHAR},
      </if>
      <if test="drivernums != null">
        driverNums = #{drivernums,jdbcType=LONGVARCHAR},
      </if>
      <if test="feidrivernums != null">
        feidriverNums = #{feidrivernums,jdbcType=LONGVARCHAR},
      </if>
      <if test="ssnums != null">
        ssNums = #{ssnums,jdbcType=LONGVARCHAR},
      </if>
      <if test="dienums != null">
        dieNums = #{dienums,jdbcType=LONGVARCHAR},
      </if>
      <if test="gongjiao != null">
        gongjiao = #{gongjiao,jdbcType=LONGVARCHAR},
      </if>
      <if test="taoyi != null">
        taoYi = #{taoyi,jdbcType=LONGVARCHAR},
      </if>
      <if test="weixianche != null">
        Weixianche = #{weixianche,jdbcType=LONGVARCHAR},
      </if>
      <if test="weixianbz != null">
        Weixianbz = #{weixianbz,jdbcType=LONGVARCHAR},
      </if>
      <if test="fromweixianbz != null">
        fromWeixianbz = #{fromweixianbz,jdbcType=LONGVARCHAR},
      </if>
      <if test="youhaiwuzhi != null">
        youHaiWuZhi = #{youhaiwuzhi,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where _id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.swjtu.roadCheck.entity.Accidentdata">
    update accidentdata
    set lat = #{lat,jdbcType=DOUBLE},
      lng = #{lng,jdbcType=DOUBLE},
      accidencnumber = #{accidencnumber,jdbcType=LONGVARCHAR},
      riQI = #{riqi,jdbcType=LONGVARCHAR},
      city = #{city,jdbcType=LONGVARCHAR},
      xianQu = #{xianqu,jdbcType=LONGVARCHAR},
      shangQuan = #{shangquan,jdbcType=LONGVARCHAR},
      diMingBeiZhu = #{dimingbeizhu,jdbcType=LONGVARCHAR},
      shigu = #{shigu,jdbcType=LONGVARCHAR},
      shiguType = #{shigutype,jdbcType=LONGVARCHAR},
      shigu2 = #{shigu2,jdbcType=LONGVARCHAR},
      shiguType2 = #{shigutype2,jdbcType=LONGVARCHAR},
      yanZhongCd = #{yanzhongcd,jdbcType=LONGVARCHAR},
      carnum = #{carnum,jdbcType=LONGVARCHAR},
      driverNums = #{drivernums,jdbcType=LONGVARCHAR},
      feidriverNums = #{feidrivernums,jdbcType=LONGVARCHAR},
      ssNums = #{ssnums,jdbcType=LONGVARCHAR},
      dieNums = #{dienums,jdbcType=LONGVARCHAR},
      gongjiao = #{gongjiao,jdbcType=LONGVARCHAR},
      taoYi = #{taoyi,jdbcType=LONGVARCHAR},
      Weixianche = #{weixianche,jdbcType=LONGVARCHAR},
      Weixianbz = #{weixianbz,jdbcType=LONGVARCHAR},
      fromWeixianbz = #{fromweixianbz,jdbcType=LONGVARCHAR},
      youHaiWuZhi = #{youhaiwuzhi,jdbcType=LONGVARCHAR}
    where _id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.swjtu.roadCheck.entity.Accidentdata">
    update accidentdata
    set lat = #{lat,jdbcType=DOUBLE},
      lng = #{lng,jdbcType=DOUBLE}
    where _id = #{id,jdbcType=INTEGER}
  </update>
</mapper>